div.transbox {
  margin: 1px;
  background-color: #ffffff;
  opacity: 0.75;
  font-weight: bold;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

div.transbox p {
  margin: 1%;
  font-weight: bold;
  color: #000000;
}

div.column {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New';
    font-weight: bold;
    opacity: 1.0;
    margin: 10px auto;
    width: 50%;
}
nav ul, footer ul {
    font-family: 'Courier New';
     font-weight: bold;
    opacity: 1.0;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    opacity: 1.0;
    font-weight: bold;
    display: inline;
    font-family: 'Courier New';
}
a {
    text-decoration: none;
    color: #299;
    opacity: 1.0;
    font-family: 'Courier New';
}
a:hover {
    opacity: 1.0;
    text-decoration: underline;
}
h1 {
    opacity: 1.0;
    font-size: 1.75em;
    font-family: 'Courier New'
}
p {
    opacity: 1.0;
    font-size: 1.0em;
    line-height: 1.4em;
    color: #000000;
    font-family: 'Courier New';
}
footer {
    opacity: 1.0;
    border-top: 1px solid #d5d5d5;
    font-size: .95em;
    font-family: 'Courier New';
}

ul.posts { 
    opacity: 1.0;
    margin: 20px auto 40px; 
    font-size: 1.25em;
    font-family: Times; 
}

ul.posts li {
    opacity: 1.0;
    list-style: none;
    font-family: Times; 
}

* {
  box-sizing: border-box;
}

img {
    opacity: 1.0;
    max-width: 100%;
    max-height: 100%;
    opacity: 1.0;
}

