div.background {
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New';
    margin: 60px auto;
    width: 50%;
}
nav ul, footer ul {
    font-family: 'Courier New';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family: 'Courier New';
}
a {
    text-decoration: none;
    color: #299;
    font-family: 'Courier New';
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family: 'Courier New'
}
p {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    font-size: 1.25em;
    line-height: 1.4em;
    color: #000000;
    font-family: 'Courier New';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .95em;
    font-family: 'Courier New';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.25em;
    font-family: Times; 
}

ul.posts li {
    list-style: none;
    font-family: Times; 
}

* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
