<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://wilderlavington.github.io">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/cv">Projects</a></li>
				<li><a href="/cv">Publications</a></li>
	        		<li><a href="https://wilderlavington.github.io/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:wilderlavington@gmail.com">email</a></li>
	        		<li><a href="https://github.com/wilderlavington">github.com/wilderlavington</a></li>
				</ul>
			</footer>
		</body>
	</html>
